<div class="home-container">
    <app-card [gameLabel]="'Exclusive'" [gameType]="'Esports'" [gamePrice]="'219,90'"
        [gameCover]="'https://image.api.playstation.com/vulcan/ap/rnd/202401/0902/8ef9ab648b8b46461778764d6942c44a1c485abd7879e7ce.png?w=440&thumb=false'"></app-card>
    <app-card [gameLabel]="'New'" [gameType]="'Adventure'" [gamePrice]="'349,90'"
        [gameCover]="'https://image.api.playstation.com/vulcan/ap/rnd/202306/3020/bca42b94af09b7a7ffd27fcb76a7bb1e46b60ed0c5f99322.png?w=440&thumb=false'"></app-card>
    <app-card [gameLabel]="'Sale'" [gameType]="'Adventure'" [gamePrice]="'49,99'"
        [gameCover]="'https://image.api.playstation.com/vulcan/ap/rnd/202009/2505/OJeNSHONzyyiePtYckbXSFHB.png?w=440&thumb=false'"></app-card>
</div>
<footer>
    <p style="color: #000;">2024 &copy;</p>
</footer>