<div class="menu-container">
    <div class="menu-logo">
        <img src="assets/logopsn.png" alt="logo">
    </div>
    <div class="menu-item">
        <ul>
            <li><a href="#">
                    <img src="assets/lk.png" alt="logo linkedin">
                </a></li>
            <li><a href="#">
                    <img src="assets/gb.png" alt="logo github">
                </a></li>
            <li><a href="#">
                    <img src="assets/reddit.png" alt="logo reddit">
                </a></li>
        </ul>
    </div>
</div>